name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [24.x]

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci --update-notifier=false
      - run: npm run lint
      - run: npm run coverage
